### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
data = "resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(data, encoding="ISO-8859-1")

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data_df["SN"].value_counts())

player_count_df = pd.DataFrame({"Total Players": [player_count]})

player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = len(purchase_data_df["Item ID"].unique())

#print(item_count)

total_purchases = purchase_data_df["Purchase ID"].count()

#print(total_purchases)

total_revenue = purchase_data_df["Price"].sum()

#print(total_revenue)

average_price = purchase_data_df["Price"].mean()

#print(average_price)

summary_df = pd.DataFrame({"Number of Unique Items": [item_count], "Total Purchases": [total_purchases], "Total Revenue": [total_revenue], "Average Price": [average_price]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)


summary_df

   Number of Unique Items  Total Purchases Total Revenue Average Price
0                     179              780     $2,379.77         $3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
genderdf = purchase_data_df.groupby("Gender")

total_count_gender = genderdf.nunique()["SN"]

percentage_player = total_count_gender / player_count * 100

gender_demographics = pd.DataFrame({"Total Count": total_count_gender, 
                                   "Percentages of Players": percentage_player})

gender_demographics["Percentages of Players"] = gender_demographics["Percentages of Players"].map("{:,.2f}".format)
gender_demographics

                       Total Count Percentages of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count_gender = genderdf["Purchase ID"].count()

# purchase_count_gender

average_price_gender = genderdf["Price"].mean()

total_purchase_gender = genderdf["Price"].sum()

# total_purchase_gender

average_price_gender_person = total_purchase_gender / total_count_gender

summary_gender_values = pd.DataFrame({"Purchase Count": purchase_count_gender, 
                                      "Average Price": average_price_gender, 
                                      "Total Purchase": total_purchase_gender,
                                     "Average Price Per Person": average_price_gender_person})

gender_demographics["Percentages of Players"] = gender_demographics["Percentages of Players"].map("{:,.2f}".format)
gender_demographics["Percentages of Players"] = gender_demographics["Percentages of Players"].map("{:,.2f}".format)
gender_demographics["Percentages of Players"] = gender_demographics["Percentages of Players"].map("{:,.2f}".format)

summary_gender_values.style.format({"Average Price":"${:,.2f}", 
                                    "Total Purchase":"${:,.2f}",
                                    "Average Price Per Person":"${:,.2f}"})


summary_gender_values

,Purchase Count,Average Price,Total Purchase,Average Price Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame